body
{
	/* Background pattern from subtlepatterns.com */
	background-image: url("img/doublebubble.png");

	font-family: 'Lato', sans-serif;
}

#chart_wrap 
{
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow:hidden;
}

#piechart 
{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

.loginContainer
{
	padding: 20px;
	border-radius: 10px;
	background-color: lightcyan;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

.form-label-group 
{
  position: relative;
  margin-bottom: 1rem;
}

.containerMenu
{
	border-radius: 10px;
	background-color: lightcyan;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	padding: 20px;
}

.navbar
{

}

.rectangle
{
	-webkit-box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	border-radius: 10px;
	background-color: #ffffff;
	padding: 10px;
	margin-bottom: 30px;
}

.logo
{
	font-size: 30px;
	font-family: 'Noto Sans', sans-serif;
}

#clock
{
	text-align: right;
	font-size: 30px;
	font-family: 'Noto Sans', sans-serif;	
}

.tile1
{
	-webkit-box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	border-radius: 10px;
	background-color: #00FF99;
}

.tile2
{
	-webkit-box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	border-radius: 10px;
	background-color: #FF3333;
}

.tile3
{
	-webkit-box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	border-radius: 10px;
	background-color: #7093DB;
}

.tile4
{
	-webkit-box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	border-radius: 10px;
	background-color: #238E23;
}

.tile5
{
	-webkit-box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 10px 10px 15px 5px rgba(204,204,204,0.9);
	border-radius: 10px;
	background-color: #FF6600;
}

.tile1:hover
{
		background-color: #00EE88;
}

.tile2:hover
{
		background-color: #EE2222;
}

.tile3:hover
{
		background-color: #6082CA;
}

.tile4:hover
{
		background-color: #127D12;
}

.tile5:hover
{
		background-color: #EE5500;
}

a.tilelink
{
	color: #000000;
	text-decoration: none;
	display: block;
	padding-bottom: 10px;
}

a.logolink
{
	color: #000000;
	text-decoration: none;
}

td
{
	border: 1px solid gray; 
	text-align: right;
	padding: 5px;
}

th 
{
	border: 1px solid gray; 
	padding: 5px;
}

table
{
	align: right;
	border-collapse: collapse;
}

@media (max-width: 575px)
{
	a.tilelink
	{
		font-size: 30px;
		padding: 10px;
	}
	.icon-money-1
	{
		font-size: 50px;
	}
	.icon-edit
	{
		font-size: 50px;
	}
	.icon-chart-bar
	{
		font-size: 30px;
	}
	.icon-cog-alt
	{
		font-size: 30px;
	}
	.icon-off
	{
		font-size: 30px;
	}
}

@media (min-width: 576px)
{
	a.tilelink
	{
		font-size: 16px;
		text-align: center;
		font-weight: bold;
	}
	.icon-money-1
	{
		font-size: 50px;
	}
	.icon-edit
	{
		font-size: 50px;
	}
	.icon-chart-bar
	{
		font-size: 50px;
	}
	.icon-cog-alt
	{
		font-size: 50px;
	}
	.icon-off
	{
		font-size: 50px;
	}
	.tile1
	{
	-webkit-box-shadow: 5px 5px 7px 3px rgba(204,204,204,0.9);
	-moz-box-shadow: 5px 5px 7px 3px rgba(204,204,204,0.9);
	box-shadow: 5px 5px 7px 3px rgba(204,204,204,0.9);
	border-radius: 8px;
	margin-left: 0px;
	}
	.tile2
	{
	-webkit-box-shadow: 5px 5px 7px 3px rgba(204,204,204,0.9);
	-moz-box-shadow: 5px 5px 7px 3px rgba(204,204,204,0.9);
	box-shadow: 5px 5px 7px 1px rgba(204,204,204,0.9);
	border-radius: 8px;
	}
	.tile3
	{
	-webkit-box-shadow: 5px 5px 7px 3px rgba(204,204,204,0.9);
	-moz-box-shadow: 5px 5px 7px 3px rgba(204,204,204,0.9);
	box-shadow: 5px 5px 7px 3px rgba(204,204,204,0.9);
	border-radius: 8px;
	}
	.tile4
	{
	-webkit-box-shadow: 5px 5px 7px 3px rgba(204,204,204,0.9);
	-moz-box-shadow: 5px 5px 7px 3px rgba(204,204,204,0.9);
	box-shadow: 5px 5px 7px 3px rgba(204,204,204,0.9);
	border-radius: 8px;
	}
	.tile5
	{
	-webkit-box-shadow: 5px 5px 7px 3px rgba(204,204,204,0.9);
	-moz-box-shadow: 5px 5px 7px 3px rgba(204,204,204,0.9);
	box-shadow: 5px 5px 7px 3px rgba(204,204,204,0.9);
	border-radius: 8px;
	}
}

@media (min-width: 768px)
{
	a.tilelink
	{
		font-size: 18px;
		text-align: center;
		font-weight: normal;
		padding: 5px;
		padding-bottom: 7px;
	
	}
	.icon-money-1
	{
		font-size: 40px;
	}
	.icon-edit
	{
		font-size: 40px;
	}
	.icon-chart-bar
	{
		font-size: 35px;
	}
	.icon-cog-alt
	{
		font-size: 40px;
	}
	.icon-off
	{
		font-size: 40px;
	}
	
}

@media (min-width: 1200px)
{
	a.tilelink
	{
		font-size: 22px;
		text-align: center;
		font-weight: normal;
		padding: 5px;
		padding-bottom: 7px;
	}
	.icon-money-1
	{
		font-size: 45px;
	}
	.icon-edit
	{
		font-size: 45px;
	}
	.icon-chart-bar
	{
		font-size: 40px;
	}
	.icon-cog-alt
	{
		font-size: 45px;
	}
	.icon-off
	{
		font-size: 45px;
	}
	
}